body {
  background-image: url("../assets/webbg.jpg");
}
.setting-form{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  #canvas{
    max-width: 392px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }